* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    /*
    */
    color: hsl(263, 55%, 52%);
    color: hsl(217, 19%, 35%);
    color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 81%);
    color: hsl(210, 46%, 95%);
    color: black;
}

main {
    display: grid;
    grid-template-areas: "daniel daniel daniel daniel daniel daniel daniel jonathan jonathan jonathan kira kira" "jeanete jeanete jeanete patrick patrick patrick patrick patrick patrick patrick kira kira";
    gap: 20px;
    padding: 24px;
    background-color: hsl(210, 46%, 95%);
}

.item {
    padding: 24px;
    border-radius: 12px;
    box-shadow: 4px 4px 8px hsl(217, 19%, 35%);
    ;
}

.item h2 {
    font-size: 24px;
    margin-bottom: 24px;
}

.item p {
    line-height: 1.6em;
    opacity: 50%;
}

.item h2 {
    opacity: 50%;
}

.info span {
    opacity: 50%;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.profile img {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid hsl(0, 0%, 81%);
    margin-right: 24px;
}

.kira {
    grid-area: kira;
}

.daniel {
    grid-area: daniel;
    background-color: hsl(263, 55%, 52%);
    background-image: url(../../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 420px;
    background-position-y: 36px;
}

.jonathan {
    grid-area: jonathan;
    background-color: hsl(217, 19%, 35%);
}

.patrick {
    grid-area: patrick;
    background-color: hsl(219, 29%, 14%);
}

.patrick img {
    border: 2px solid hsl(263, 55%, 52%);
}

.jeanete {
    grid-area: jeanete;
    background-color: hsl(0, 0%, 100%);
    ;
}

.daniel h2, .patrick h2, .jonathan h2, .daniel h1, .patrick h1, .jonathan h1 {
    color: hsl(0, 0%, 100%);
    opacity: 100%;
}

.daniel p, .patrick p, .jonathan p, .daniel span, .patrick span, .jonathan span {
    color: hsl(0, 0%, 100%);
    opacity: 50%;
}

@media only screen and (max-width: 768px) {
    main {
        display: grid;
        grid-template-areas: 
            "daniel"
            "jonathan"
            "jeanete"
            "patrick"
            "kira"
            
        ;
        gap: 20px;
        padding: 24px;
        background-color: hsl(210, 46%, 95%);
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}